In [1]:

val data = Seq(("1,Alice\t30|New York")).toDF("value")

data.show(false)

Intitializing Scala interpreter ...

Spark Web UI available at http://[fe80:0:0:0:f82c:9aff:fe05:a3d%8]:4041
SparkContext available as 'sc' (version = 3.4.1, master = local[*], app id = local-1716117413677)
SparkSession available as 'spark'

+--------------------+
|value               |
+--------------------+
|1,Alice\t30|New York|
+--------------------+

data: org.apache.spark.sql.DataFrame = [value: string]

In [2]:
val split_col = data.withColumn("split_", split($"value", ",|\t|\\|"))

split_col.show(false)

+--------------------+------------------------+
|value               |split_                  |
+--------------------+------------------------+
|1,Alice\t30|New York|[1, Alice, 30, New York]|
+--------------------+------------------------+

split_col: org.apache.spark.sql.DataFrame = [value: string, split_: array<string>]

In [7]:
split_col
    .withColumn("id", $"split_".getItem(0))
    .withColumn("name", $"split_".getItem(1))
    .withColumn("age", $"split_".getItem(2))
    .withColumn("city", $"split_".getItem(3))
    .drop("split_")
    .show(false)

+--------------------+---+-----+---+--------+
|value               |id |name |age|city    |
+--------------------+---+-----+---+--------+
|1,Alice\t30|New York|1  |Alice|30 |New York|
+--------------------+---+-----+---+--------+