In [1]:
val data = Seq(("Product1", 100, 150, 200),
        ("Product2", 200, 250, 300),
        ("Product3", 300, 350, 400)).toDF("Product", "Sales_Jan", "Sales_Feb", "Sales_Mar")


data.show(false)

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.1.4:4049
SparkContext available as 'sc' (version = 3.4.1, master = local[*], app id = local-1716132402359)
SparkSession available as 'spark'

+--------+---------+---------+---------+
|Product |Sales_Jan|Sales_Feb|Sales_Mar|
+--------+---------+---------+---------+
|Product1|100      |150      |200      |
|Product2|200      |250      |300      |
|Product3|300      |350      |400      |
+--------+---------+---------+---------+

data: org.apache.spark.sql.DataFrame = [Product: string, Sales_Jan: int ... 2 more fields]

In [61]:
data.createOrReplaceTempView("data")

val df1 = spark.sql("""

    SELECT 
        'Product1' as Product, 
        'Jan' Month,
        Sales_Jan as Sales
    FROM DATA
    UNION
    SELECT
    'Product2' as Product,
        'Feb' Month,
        Sales_Feb as Sales
    FROM DATA
    UNION
    SELECT
        'Product3' as Product,
        'Mar' Month,
        Sales_Mar as Sales
    FROM DATA
""")

df1.show(false)

+--------+-----+-----+
|Product |Month|Sales|
+--------+-----+-----+
|Product1|Jan  |100  |
|Product1|Jan  |200  |
|Product1|Jan  |300  |
|Product2|Feb  |150  |
|Product2|Feb  |250  |
|Product2|Feb  |350  |
|Product3|Mar  |200  |
|Product3|Mar  |300  |
|Product3|Mar  |400  |
+--------+-----+-----+

df1: org.apache.spark.sql.DataFrame = [Product: string, Month: string ... 1 more field]