In [0]:
manager_df=spark.createDataFrame(
    [
        (10 ,'Anil',50000, 18),
        (11 ,'Vikas',75000,  16),
        (12 ,'Nisha',40000,  18),
        (13 ,'Nidhi',60000,  17),
        (14 ,'Priya',80000,  18),
        (15 ,'Mohit',45000,  18),
        (16 ,'Rajesh',90000, 10),
        (17 ,'Raman',55000, 16),
        (18 ,'Sam',65000,   17)
    ],
    ["id", "name", "salary", "manager_id"]
)

manager_df1=spark.createDataFrame(
    [
        (19 ,'Sohan',50000, 18),
        (20 ,'Sima',75000,  17)
    ], ["id", "name", "salary", "manager_id"]
    )

manager_df.show()
manager_df1.show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
+---+------+------+----------+

+---+-----+------+----------+
| id| name|salary|manager_id|
+---+-----+------+----------+
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
+---+-----+------+----------+

In [0]:
manager_df.union(manager_df1).show()
manager_df.union(manager_df1).count()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 19| Sohan| 50000|        18|
| 20|  Sima| 75000|        17|
+---+------+------+----------+

Out[20]: 11

In [0]:
manager_df.unionAll(manager_df1).count()

Out[21]: 11

In [0]:
# Add dup data
dup_manager_df=spark.createDataFrame(
    [
        (10 ,'Anil',50000, 18),
        (11 ,'Vikas',75000,  16),
        (12 ,'Nisha',40000,  18),
        (13 ,'Nidhi',60000,  17),
        (14 ,'Priya',80000,  18),
        (15 ,'Mohit',45000,  18),
        (16 ,'Rajesh',90000, 10),
        (17 ,'Raman',55000, 16),
        (18 ,'Sam',65000,   17),
        (18 ,'Sam',55000,   17), 
        (18 ,'Sam',65000,   17) 
    ],
    ["id", "name", "salary", "manager_id"]
)

dup_manager_df.union(manager_df1).show()
dup_manager_df.union(manager_df1).count()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 18|   Sam| 55000|        17|
| 18|   Sam| 65000|        17|
| 19| Sohan| 50000|        18|
| 20|  Sima| 75000|        17|
+---+------+------+----------+

Out[22]: 13

In [0]:
dup_manager_df.unionAll(manager_df1).show()
dup_manager_df.unionAll(manager_df1).count()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 18|   Sam| 55000|        17|
| 18|   Sam| 65000|        17|
| 19| Sohan| 50000|        18|
| 20|  Sima| 75000|        17|
+---+------+------+----------+

Out[23]: 13

In [0]:
"""
    PySpark DF API treats union and unionAll same way but if you use these in spark.sql server then union would remove dup
    union all / unionAll preserves dup rows
"""
dup_manager_df.createOrReplaceTempView("dup_manager_tbl")
manager_df1.createOrReplaceTempView("manager_tbl")

spark.sql("""select * from dup_manager_tbl union all select * from manager_tbl""").show()
spark.sql("""select * from dup_manager_tbl union all select * from manager_tbl""").count()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 18|   Sam| 55000|        17|
| 18|   Sam| 65000|        17|
| 19| Sohan| 50000|        18|
| 20|  Sima| 75000|        17|
+---+------+------+----------+

Out[27]: 13

In [0]:
spark.sql("""select * from dup_manager_tbl union select * from manager_tbl""").show()
spark.sql("""select * from dup_manager_tbl union select * from manager_tbl""").count()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 18|   Sam| 55000|        17|
| 19| Sohan| 50000|        18|
| 20|  Sima| 75000|        17|
+---+------+------+----------+

Out[28]: 12

In [0]:

wrong_manager_df=spark.createDataFrame([(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')], ["id", "salary", "manager_id", "name"])

manager_df1.show()
wrong_manager_df.show()

manager_df1.union(wrong_manager_df).show()
"""
union does not validate col vs data mapping
it does not follow order of col names, it will simply union without matching the col name
"""

manager_df1.unionByName(wrong_manager_df).show()
"""
unionByName if col names exactly matches from all df then does union as expected
here also col names should match
if col names are different it wont union and throw exception
"""

+---+-----+------+----------+
| id| name|salary|manager_id|
+---+-----+------+----------+
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
+---+-----+------+----------+

+---+------+----------+-----+
| id|salary|manager_id| name|
+---+------+----------+-----+
| 19| 50000|        18|Sohan|
| 20| 75000|        17| Sima|
+---+------+----------+-----+

+---+-----+------+----------+
| id| name|salary|manager_id|
+---+-----+------+----------+
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
| 19|50000|    18|     Sohan|
| 20|75000|    17|      Sima|
+---+-----+------+----------+

+---+-----+------+----------+
| id| name|salary|manager_id|
+---+-----+------+----------+
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
+---+-----+------+----------+

In [0]:

wrong_column_df=spark.createDataFrame([(19 ,50000, 18,'Sohan',10),
(20 ,75000,  17,'Sima',20)], ["id", "salary", "manager_id", "name", "bonus"])

wrong_column_df.show()

"""
AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 4 columns and the second input has 5 columns.;
Both below throw Exception
To fix this select common cols from both df and then perform union
"""
wrong_manager_df.union(wrong_column_df).show()
wrong_manager_df.unionByName(wrong_column_df).show()

+---+------+----------+-----+-----+
| id|salary|manager_id| name|bonus|
+---+------+----------+-----+-----+
| 19| 50000|        18|Sohan|   10|
| 20| 75000|        17| Sima|   20|
+---+------+----------+-----+-----+

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-1672088760047802>:7
      4 wrong_column_df.show()
      6 # wrong_manager_df.union(wrong_column_df).show()
----> 7 wrong_manager_df.unionByName(wrong_column_df).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3738, in DataFrame.unionByName(self, other, allowMissingColumns)
   3682 def unionByName(self, other: "DataFrame", allowMissingColumns: bool = False) -> "DataFrame":
   3683     """Returns a new :class:`DataFrame` containing union of rows in this and another
   3684     :class:`DataFrame`.
   3685
   (...)
   3736     +----+----+----+----+
   3737     """
-> 3738     return DataFrame(self._jdf.unionByName(other._jdf, allowMissingColumns), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 4 columns and the second input has 5 columns.;
'Union false, false
:- LogicalRDD [id#2996L, salary#2997L, manager_id#2998L, name#2999], false
+- Project [id#3183L, salary#3184L, manager_id#3185L, name#3186, bonus#3187L]
   +- LogicalRDD [id#3183L, salary#3184L, manager_id#3185L, name#3186, bonus#3187L], false