In [0]:
manager_df = spark.createDataFrame(
    [
        (10 ,'Anil',50000, 18),
        (11 ,'Vikas',75000,  16),
        (12 ,'Nisha',40000,  18),
        (13 ,'Nidhi',60000,  17),
        (14 ,'Priya',80000,  18),
        (15 ,'Mohit',45000,  18),
        (16 ,'Rajesh',90000, 10),
        (17 ,'Raman',55000, 16),
        (18 ,'Sam',65000,   17),
        (15 ,'Mohit',45000,  18),
        (13 ,'Nidhi',60000,  17),      
        (14 ,'Priya',90000,  18),  
        (18 ,'Sam',65000,   17)
    ], ["id", "Name", "sal", "mngr_id"])

manager_df.count()

Out[2]: 13

In [0]:
manager_df.distinct().count()

Out[3]: 10

In [0]:
manager_df.select("id", "name").distinct().count()

Out[4]: 9

In [0]:
manager_df.drop_duplicates(["id", "name", "sal", "mngr_id"]).show()
manager_df.drop_duplicates(["id", "name", "sal", "mngr_id"]).count()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 12| Nisha|40000|     18|
| 11| Vikas|75000|     16|
| 13| Nidhi|60000|     17|
| 15| Mohit|45000|     18|
| 14| Priya|80000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
| 14| Priya|90000|     18|
+---+------+-----+-------+

Out[6]: 10

In [0]:
from pyspark.sql.functions import *

manager_df.sort(col("sal").desc(), col("Name").desc()).show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 16|Rajesh|90000|     10|
| 14| Priya|90000|     18|
| 14| Priya|80000|     18|
| 11| Vikas|75000|     16|
| 18|   Sam|65000|     17|
| 18|   Sam|65000|     17|
| 13| Nidhi|60000|     17|
| 13| Nidhi|60000|     17|
| 17| Raman|55000|     16|
| 10|  Anil|50000|     18|
| 15| Mohit|45000|     18|
| 15| Mohit|45000|     18|
| 12| Nisha|40000|     18|
+---+------+-----+-------+

In [0]:
"""
    Print names when referee_id is not 2
"""

leet_code_df = spark.createDataFrame([
    (1, 'Will', None),
    (2, 'Jane', None),
    (3, 'Alex', 2),
    (4, 'Bill', None),
    (5, 'Zack', 1),
    (6, 'Mark', 2)
], ["id", "name", "referee_id"])

leet_code_df.show()
leet_code_df.filter((col("referee_id") != 2) | (col("referee_id").isNull())).select("name").show()

+---+----+----------+
| id|name|referee_id|
+---+----+----------+
|  1|Will|      null|
|  2|Jane|      null|
|  3|Alex|         2|
|  4|Bill|      null|
|  5|Zack|         1|
|  6|Mark|         2|
+---+----+----------+

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+