In [0]:
"""
Aggregate : Collecting something together(usually on number values)
count   min     max     avg
"""

emp_df = spark.createDataFrame(
    [
        (1,'manish',26,20000,'india','IT'),
        (2,'rahul',None,40000,'germany','engineering'),
        (3,'pawan',12,60000,'india','sales'),
        (4,'roshini',44,None,'uk','engineering'),
        (5,'raushan',35,70000,'india','sales'),
        (6,None,29,200000,'uk','IT'),
        (7,'adam',37,65000,'us','IT'),
        (8,'chris',16,40000,'us','sales'),
        (None,None,None,None,None,None),
        (7,'adam',37,65000,'us','IT')
    ], ["id", "name", "age", "salary", "country", "dept"])

emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary|country|       dept|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
"""
df.count() <----- action
df.select(count("col")) <----- transformation

count(*) <----- will consider null
count(col) <--- will skip null
"""

from pyspark.sql.functions import *

emp_df.count()  # 10
emp_df.select(count("name").alias("name_Count")) # transformation
emp_df.select(count("name").alias("name_Count")).show() # 8

+----------+
|name_Count|
+----------+
|         8|
+----------+

In [0]:
emp_df.select(count("*").alias("total")).show() # 10

+-----+
|total|
+-----+
|   10|
+-----+

In [0]:
emp_df.select(sum("salary").alias("total_sal"), max("salary").alias("max_sal"), min("salary").alias("min_sal")).show()

+---------+-------+-------+
|total_sal|max_sal|min_sal|
+---------+-------+-------+
|   560000| 200000|  20000|
+---------+-------+-------+

In [0]:
emp_df.select(sum("salary"), count("salary"), avg("salary").cast("int").alias("avg_sal")).show()

+-----------+-------------+------------------------+
|sum(salary)|count(salary)|CAST(avg(salary) AS INT)|
+-----------+-------------+------------------------+
|     560000|            8|                   70000|
+-----------+-------------+------------------------+