In [0]:
emp_df = spark.createDataFrame(
    [
        (1,'manish',50000,'IT'),
        (2,'vikash',60000,'sales'),
        (3,'raushan',70000,'marketing'),
        (4,'mukesh',80000,'IT'),
        (5,'pritam',90000,'sales'),
        (6,'nikita',45000,'marketing'),
        (7,'ragini',55000,'marketing'),
        (8,'rakesh',100000,'IT'),
        (9,'aditya',65000,'IT'),
        (10,'rahul',50000,'marketing')
    ], ["id", "name", "salary", "dept"]
)

emp_df.show()

+---+-------+------+---------+
| id|   name|salary|     dept|
+---+-------+------+---------+
|  1| manish| 50000|       IT|
|  2| vikash| 60000|    sales|
|  3|raushan| 70000|marketing|
|  4| mukesh| 80000|       IT|
|  5| pritam| 90000|    sales|
|  6| nikita| 45000|marketing|
|  7| ragini| 55000|marketing|
|  8| rakesh|100000|       IT|
|  9| aditya| 65000|       IT|
| 10|  rahul| 50000|marketing|
+---+-------+------+---------+

In [0]:
from pyspark.sql.functions import *

emp_df.groupBy("dept").agg(sum("salary").alias("dept_wise_salary")).show()

+---------+----------------+
|     dept|dept_wise_salary|
+---------+----------------+
|       IT|          295000|
|    sales|          150000|
|marketing|          220000|
+---------+----------------+

In [0]:
emp1_df = spark.createDataFrame(
    [
        (1,'manish',50000,'IT','india'),
        (2,'vikash',60000,'sales','us'),
        (3,'raushan',70000,'marketing','india'),
        (4,'mukesh',80000,'IT','us'),
        (5,'pritam',90000,'sales','india'),
        (6,'nikita',45000,'marketing','us'),
        (7,'ragini',55000,'marketing','india'),
        (8,'rakesh',100000,'IT','us'),
        (9,'aditya',65000,'IT','india'),
        (10,'rahul',50000,'marketing','us')
    ], ["id", "name", "salary", "dept", "country"]
)

emp1_df.show()

+---+-------+------+---------+-------+
| id|   name|salary|     dept|country|
+---+-------+------+---------+-------+
|  1| manish| 50000|       IT|  india|
|  2| vikash| 60000|    sales|     us|
|  3|raushan| 70000|marketing|  india|
|  4| mukesh| 80000|       IT|     us|
|  5| pritam| 90000|    sales|  india|
|  6| nikita| 45000|marketing|     us|
|  7| ragini| 55000|marketing|  india|
|  8| rakesh|100000|       IT|     us|
|  9| aditya| 65000|       IT|  india|
| 10|  rahul| 50000|marketing|     us|
+---+-------+------+---------+-------+

In [0]:
emp1_df.groupBy("dept", "country").agg(sum("salary").alias("dept_country_total_salary")).show()

+---------+-------+-------------------------+
|     dept|country|dept_country_total_salary|
+---------+-------+-------------------------+
|       IT|  india|                   115000|
|    sales|     us|                    60000|
|marketing|  india|                   125000|
|    sales|  india|                    90000|
|       IT|     us|                   180000|
|marketing|     us|                    95000|
+---------+-------+-------------------------+