In [0]:
customer_data = [(1,'manish','patna',"30-05-2022"),
(2,'vikash','kolkata',"12-03-2023"),
(3,'nikita','delhi',"25-06-2023"),
(4,'rahul','ranchi',"24-03-2023"),
(5,'mahesh','jaipur',"22-03-2023"),
(6,'prantosh','kolkata',"18-10-2022"),
(7,'raman','patna',"30-12-2022"),
(8,'prakash','ranchi',"24-02-2023"),
(9,'ragini','kolkata',"03-03-2023"),
(10,'raushan','jaipur',"05-02-2023")]

customer_schema=['customer_id','customer_name','address','date_of_joining']


sales_data = [(1,22,10,"01-06-2022"),
(1,27,5,"03-02-2023"),
(2,5,3,"01-06-2023"),
(5,22,1,"22-03-2023"),
(7,22,4,"03-02-2023"),
(9,5,6,"03-03-2023"),
(2,1,12,"15-06-2023"),
(1,56,2,"25-06-2023"),
(5,12,5,"15-04-2023"),
(11,12,76,"12-03-2023")]

sales_schema=['customer_id','product_id','quantity','date_of_purchase']


product_data = [(1, 'fanta',20),
(2, 'dew',22),
(5, 'sprite',40),
(7, 'redbull',100),
(12,'mazza',45),
(22,'coke',27),
(25,'limca',21),
(27,'pepsi',14),
(56,'sting',10)]

product_schema=['id','name','price']

customer_df = spark.createDataFrame(data=customer_data, schema=customer_schema)
sales_df = spark.createDataFrame(data=sales_data, schema=sales_schema)
product_df = spark.createDataFrame(data=product_data, schema=product_schema)


customer_df.show()
sales_df.show()
product_df.show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          1|       manish|  patna|     30-05-2022|
|          2|       vikash|kolkata|     12-03-2023|
|          3|       nikita|  delhi|     25-06-2023|
|          4|        rahul| ranchi|     24-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|
|          7|        raman|  patna|     30-12-2022|
|          8|      prakash| ranchi|     24-02-2023|
|          9|       ragini|kolkata|     03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|
+-----------+-------------+-------+---------------+

+-----------+----------+--------+----------------+
|customer_id|product_id|quantity|date_of_purchase|
+-----------+----------+--------+----------------+
|          1|        22|      10|      01-06-2022|
|          1|        27|       5|      03-02-2023|
|          2|         5|       3|      01-06-2023|
|          5|        22|       1|      22-03-2023|
|          7|        22|       4|      03-02-2023|
|          9|         5|       6|      03-03-2023|
|          2|         1|      12|      15-06-2023|
|          1|        56|       2|      25-06-2023|
|          5|        12|       5|      15-04-2023|
|         11|        12|      76|      12-03-2023|
+-----------+----------+--------+----------------+

+---+-------+-----+
| id|   name|price|
+---+-------+-----+
|  1|  fanta|   20|
|  2|    dew|   22|
|  5| sprite|   40|
|  7|redbull|  100|
| 12|  mazza|   45|
| 22|   coke|   27|
| 25|  limca|   21|
| 27|  pepsi|   14|
| 56|  sting|   10|
+---+-------+-----+

In [0]:
from pyspark.sql.functions import *

"""
left: entire left table + matching from right table
"""
customer_df.join(sales_df, customer_df["customer_id"]==sales_df["customer_id"], "left").show()
customer_df.join(sales_df, customer_df["customer_id"]==sales_df["customer_id"], "left").count()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          3|       nikita|  delhi|     25-06-2023|       null|      null|    null|            null|
|          4|        rahul| ranchi|     24-03-2023|       null|      null|    null|            null|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|       null|      null|    null|            null|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          8|      prakash| ranchi|     24-02-2023|       null|      null|    null|            null|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|       null|      null|    null|            null|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

Out[4]: 14

In [0]:

sales_df.join(product_df, sales_df["customer_id"]==product_df["id"], "right").show()
sales_df.join(product_df, sales_df["customer_id"]==product_df["id"], "right").count()

+-----------+----------+--------+----------------+---+-------+-----+
|customer_id|product_id|quantity|date_of_purchase| id|   name|price|
+-----------+----------+--------+----------------+---+-------+-----+
|          1|        56|       2|      25-06-2023|  1|  fanta|   20|
|          1|        27|       5|      03-02-2023|  1|  fanta|   20|
|          1|        22|      10|      01-06-2022|  1|  fanta|   20|
|          2|         1|      12|      15-06-2023|  2|    dew|   22|
|          2|         5|       3|      01-06-2023|  2|    dew|   22|
|          5|        12|       5|      15-04-2023|  5| sprite|   40|
|          5|        22|       1|      22-03-2023|  5| sprite|   40|
|          7|        22|       4|      03-02-2023|  7|redbull|  100|
|       null|      null|    null|            null| 12|  mazza|   45|
|       null|      null|    null|            null| 22|   coke|   27|
|       null|      null|    null|            null| 25|  limca|   21|
|       null|      null|    null|            null| 27|  pepsi|   14|
|       null|      null|    null|            null| 56|  sting|   10|
+-----------+----------+--------+----------------+---+-------+-----+

Out[9]: 13

In [0]:
sales_df.join(product_df, sales_df["customer_id"]==product_df["id"], "outer").show()
sales_df.join(product_df, sales_df["customer_id"]==product_df["id"], "outer").count()

+-----------+----------+--------+----------------+----+-------+-----+
|customer_id|product_id|quantity|date_of_purchase|  id|   name|price|
+-----------+----------+--------+----------------+----+-------+-----+
|          1|        22|      10|      01-06-2022|   1|  fanta|   20|
|          1|        27|       5|      03-02-2023|   1|  fanta|   20|
|          1|        56|       2|      25-06-2023|   1|  fanta|   20|
|          2|         5|       3|      01-06-2023|   2|    dew|   22|
|          2|         1|      12|      15-06-2023|   2|    dew|   22|
|          5|        22|       1|      22-03-2023|   5| sprite|   40|
|          5|        12|       5|      15-04-2023|   5| sprite|   40|
|          7|        22|       4|      03-02-2023|   7|redbull|  100|
|          9|         5|       6|      03-03-2023|null|   null| null|
|         11|        12|      76|      12-03-2023|null|   null| null|
|       null|      null|    null|            null|  12|  mazza|   45|
|       null|      null|    null|            null|  22|   coke|   27|
|       null|      null|    null|            null|  25|  limca|   21|
|       null|      null|    null|            null|  27|  pepsi|   14|
|       null|      null|    null|            null|  56|  sting|   10|
+-----------+----------+--------+----------------+----+-------+-----+

Out[10]: 15

In [0]:
"""
left_semi: extract cols only from left table where left table has matching data with right table
inner join between left + right and then pick only left table cols
"""
customer_df.join(sales_df, customer_df["customer_id"]==sales_df["customer_id"], "left_semi").show()
customer_df.join(sales_df, customer_df["customer_id"]==sales_df["customer_id"], "left_semi").count()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          1|       manish|  patna|     30-05-2022|
|          2|       vikash|kolkata|     12-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|
|          7|        raman|  patna|     30-12-2022|
|          9|       ragini|kolkata|     03-03-2023|
+-----------+-------------+-------+---------------+

Out[11]: 5

In [0]:
"""
left_anti: only left table cols which don't join with right table
uncommon rec from right table
commonly used to identify NEW rows in SCD 1 / 2
"""
customer_df.join(sales_df, customer_df["customer_id"]==sales_df["customer_id"], "left_anti").show()
customer_df.join(sales_df, customer_df["customer_id"]==sales_df["customer_id"], "left_anti").count()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          3|       nikita|  delhi|     25-06-2023|
|          4|        rahul| ranchi|     24-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|
|          8|      prakash| ranchi|     24-02-2023|
|         10|      raushan| jaipur|     05-02-2023|
+-----------+-------------+-------+---------------+

Out[13]: 5

In [0]:
customer_df.crossJoin(sales_df).count() # use with caution, expensive join type

Out[14]: 100

In [0]:
""" 
LC 175. Combine Two Tables
Write a solution to report the first name, last name, city, and state of each person in the Person table. If the address of a personId is not present in the Address table, report null instead. Return the result table in any order.

Input: 
Person table:
+----------+----------+-----------+
| personId | lastName | firstName |
+----------+----------+-----------+
| 1        | Wang     | Allen     |
| 2        | Alice    | Bob       |
+----------+----------+-----------+
Address table:
+-----------+----------+---------------+------------+
| addressId | personId | city          | state      |
+-----------+----------+---------------+------------+
| 1         | 2        | New York City | New York   |
| 2         | 3        | Leetcode      | California |
+-----------+----------+---------------+------------+
Output: 
+-----------+----------+---------------+----------+
| firstName | lastName | city          | state    |
+-----------+----------+---------------+----------+
| Allen     | Wang     | Null          | Null     |
| Bob       | Alice    | New York City | New York |
+-----------+----------+---------------+----------+
Explanation: 
There is no address in the address table for the personId = 1 so we return null in their city and state.
addressId = 1 contains information about the address of personId = 2.

Person table:
+----------+----------+-----------+
| personId | lastName | firstName |
+----------+----------+-----------+
| 1        | Wang     | Allen     |
| 2        | Alice    | Bob       |
+----------+----------+-----------+
Address table:
+-----------+----------+---------------+------------+
| addressId | personId | city          | state      |
+-----------+----------+---------------+------------+
| 1         | 2        | New York City | New York   |
| 2         | 3        | Leetcode      | California |
+-----------+----------+---------------+------------+
"""

person_df = spark.createDataFrame(
    [
        (1, "Wang", "Allen"),
        (2, "Alice", "Bob")
    ], ["personId", "lastName", "firstName"]
)

address_df = spark.createDataFrame(
    [
        (1, 2, "New York City", "New York"),
        (2, 3, "Leetcode", "California")
    ],
    ["addressId", "personId", "city", "state"]
)

person_df.show()
address_df.show()

person_df.join(address_df, person_df["personId"]==address_df["personId"], "left")\
    .select("firstName", "lastName", "city", "state")\
    .show()

+--------+--------+---------+
|personId|lastName|firstName|
+--------+--------+---------+
|       1|    Wang|    Allen|
|       2|   Alice|      Bob|
+--------+--------+---------+

+---------+--------+-------------+----------+
|addressId|personId|         city|     state|
+---------+--------+-------------+----------+
|        1|       2|New York City|  New York|
|        2|       3|     Leetcode|California|
+---------+--------+-------------+----------+

+---------+--------+-------------+--------+
|firstName|lastName|         city|   state|
+---------+--------+-------------+--------+
|    Allen|    Wang|         null|    null|
|      Bob|   Alice|New York City|New York|
+---------+--------+-------------+--------+