In [4]:

val data_movies = Seq((1, "Movie A"), (2, "Movie B"), (3, "Movie C"), (4, "Movie D"), (5, "Movie E")
                     ).toDF("MovieID", "MovieName")

val data_ratings = Seq((1, 101, 4.5), (1, 102, 4.0), (2, 103, 5.0), 
                (2, 104, 3.5), (3, 105, 4.0), (3, 106, 4.0), 
                (4, 107, 3.0), (5, 108, 2.5), (5, 109, 3.0)).toDF("MovieID", "UserID", "Rating")

data_movies.show(false)
data_ratings.show(false)

+-------+---------+
|MovieID|MovieName|
+-------+---------+
|1      |Movie A  |
|2      |Movie B  |
|3      |Movie C  |
|4      |Movie D  |
|5      |Movie E  |
+-------+---------+

+-------+------+------+
|MovieID|UserID|Rating|
+-------+------+------+
|1      |101   |4.5   |
|1      |102   |4.0   |
|2      |103   |5.0   |
|2      |104   |3.5   |
|3      |105   |4.0   |
|3      |106   |4.0   |
|4      |107   |3.0   |
|5      |108   |2.5   |
|5      |109   |3.0   |
+-------+------+------+

data_movies: org.apache.spark.sql.DataFrame = [MovieID: int, MovieName: string]
data_ratings: org.apache.spark.sql.DataFrame = [MovieID: int, UserID: int ... 1 more field]

In [9]:
val avg_data_ratings = data_ratings.groupBy($"MovieID").agg(avg("Rating").alias("Rating"))

avg_data_ratings.show(false)

+-------+------+
|MovieID|Rating|
+-------+------+
|1      |4.25  |
|2      |4.25  |
|3      |4.0   |
|5      |2.75  |
|4      |3.0   |
+-------+------+

avg_data_ratings: org.apache.spark.sql.DataFrame = [MovieID: int, Rating: double]

In [11]:
avg_data_ratings
    .join(data_movies, "MovieID", "inner")
    .orderBy($"Rating".desc)
    .limit(3)
    .show(false)

+-------+------+---------+
|MovieID|Rating|MovieName|
+-------+------+---------+
|1      |4.25  |Movie A  |
|2      |4.25  |Movie B  |
|3      |4.0   |Movie C  |
+-------+------+---------+