In [40]:
// Problem: Given a dataset of sales records, identify and replace all missing values in the 'amount' column
// with the average sales amount.


val sales_data = Seq(("1", Some(100)), 
                     ("2", Some(150)), 
                     ("3", None), 
                     ("4", Some(200)), 
                     ("5", None)
                    ).toDF("sale_id", "amount")

sales_data.show(false)

+-------+------+
|sale_id|amount|
+-------+------+
|1      |100   |
|2      |150   |
|3      |null  |
|4      |200   |
|5      |null  |
+-------+------+

sales_data: org.apache.spark.sql.DataFrame = [sale_id: string, amount: int]

In [59]:

val mean_amount = sales_data.agg(mean($"amount").alias("mean_amount")).first().getAs[Double](0)

mean_amount

mean_amount: Double = 150.0
res44: Double = 150.0

In [56]:
import org.apache.spark.sql.functions._
import org.apache.spark.sql.Row


sales_data.na.fill(mean_amount, Array("amount")).show(false)

+-------+------+
|sale_id|amount|
+-------+------+
|1      |100   |
|2      |150   |
|3      |150   |
|4      |200   |
|5      |150   |
+-------+------+

import org.apache.spark.sql.functions._
import org.apache.spark.sql.Row