In [10]:
/*
    Calculate percentage increase in each month Vs cumulative cases in the prior month
*/


import org.apache.spark.sql.functions._
import org.apache.spark.sql.types._
import org.apache.spark.sql.expressions._
import org.apache.spark.sql.Row

val data = Seq(
    Row(20124 ,"2020-01-10"),
    Row(40133 ,"2020-01-15"),
    Row(65005 ,"2020-01-20"),
    Row(30005 ,"2020-02-08"),
    Row(35015 ,"2020-02-19"),
    Row(15015 ,"2020-03-03"),
    Row(35035 ,"2020-03-10"),
    Row(49099 ,"2020-03-14"),
    Row(84045 ,"2020-03-20"),
    Row(100106,"2020-03-31"),
    Row(17015 ,"2020-04-04"),
    Row(36035 ,"2020-04-11"),
    Row(50099 ,"2020-04-13"),
    Row(87045 ,"2020-04-22"),
    Row(101101,"2020-04-30"),
    Row(40015 ,"2020-05-01"),
    Row(54035 ,"2020-05-09"),
    Row(71099 ,"2020-05-14"),
    Row(82045 ,"2020-05-21"),
    Row(90103 ,"2020-05-25"),
    Row(99103 ,"2020-05-31"),
    Row(11015 ,"2020-06-03"),
    Row(28035 ,"2020-06-10"),
    Row(38099 ,"2020-06-14"),
    Row(45045 ,"2020-06-20"),
    Row(36033 ,"2020-07-09"),
    Row(40011 ,"2020-07-23"),
    Row(25001 ,"2020-08-12"),
    Row(29990 ,"2020-08-26"),
    Row(20112 ,"2020-09-04"),
    Row(43991 ,"2020-09-18"),
    Row(51002 ,"2020-09-29"),
    Row(26587 ,"2020-10-25"),
    Row(11000 ,"2020-11-07"),
    Row(35002 ,"2020-11-16"),
    Row(56010 ,"2020-11-28"),
    Row(15099 ,"2020-12-02"),
    Row(38042 ,"2020-12-11"),
    Row(73030 ,"2020-12-26")
)

val schema = StructType(Array(
    StructField("cases_reported", IntegerType),
    StructField("dates", StringType)
))

val rdd = spark.sparkContext.parallelize(data)
val df = spark.createDataFrame(rdd, schema)

df.show(false)

+--------------+----------+
|cases_reported|dates     |
+--------------+----------+
|20124         |2020-01-10|
|40133         |2020-01-15|
|65005         |2020-01-20|
|30005         |2020-02-08|
|35015         |2020-02-19|
|15015         |2020-03-03|
|35035         |2020-03-10|
|49099         |2020-03-14|
|84045         |2020-03-20|
|100106        |2020-03-31|
|17015         |2020-04-04|
|36035         |2020-04-11|
|50099         |2020-04-13|
|87045         |2020-04-22|
|101101        |2020-04-30|
|40015         |2020-05-01|
|54035         |2020-05-09|
|71099         |2020-05-14|
|82045         |2020-05-21|
|90103         |2020-05-25|
+--------------+----------+
only showing top 20 rows

import org.apache.spark.sql.functions._
import org.apache.spark.sql.types._
import org.apache.spark.sql.expressions._
import org.apache.spark.sql.Row
data: Seq[org.apache.spark.sql.Row] = List([20124,2020-01-10], [40133,2020-01-15], [65005,2020-01-20], [30005,2020-02-08], [35015,2020-02-19], [15015,2020-03-03], [35035,2020-03-10], [49099,2020-03-14], [84045,2020-03-20], [100106,2020-03-31], [17015,2020-04-04], [36035,2020-04-11], [50099,2020-04-13], [87045,2020-04-22], [101101,2020-04-30], [40015,2020-05-01], [54035,2020-05-09], [71099,2020-05-14], [82045,2020-05-21], [90103,2020-05-25], [99103,2020-05-31], [11015,2020-06-03], [28035,2020-06-10], [38099,2020-06-14], [45045,2020-06-20], [36033,2020-07-09], [40011,2020-07-23], [25001,2020-08-12], [29990,2020-08-26], [20112,2020-09-04], [4...

In [12]:
val formatted_dates = df.withColumn("dates", to_date($"dates", "yyyy-MM-dd"))
formatted_dates.show(false)

+--------------+----------+
|cases_reported|dates     |
+--------------+----------+
|20124         |2020-01-10|
|40133         |2020-01-15|
|65005         |2020-01-20|
|30005         |2020-02-08|
|35015         |2020-02-19|
|15015         |2020-03-03|
|35035         |2020-03-10|
|49099         |2020-03-14|
|84045         |2020-03-20|
|100106        |2020-03-31|
|17015         |2020-04-04|
|36035         |2020-04-11|
|50099         |2020-04-13|
|87045         |2020-04-22|
|101101        |2020-04-30|
|40015         |2020-05-01|
|54035         |2020-05-09|
|71099         |2020-05-14|
|82045         |2020-05-21|
|90103         |2020-05-25|
+--------------+----------+
only showing top 20 rows

formatted_dates: org.apache.spark.sql.DataFrame = [cases_reported: int, dates: date]

In [23]:
val monthly_cases = formatted_dates.groupBy(month($"dates").alias("month")
                                           ).agg(sum("cases_reported").alias("monthly_cases"))
monthly_cases.show(false)

+-----+-------------+
|month|monthly_cases|
+-----+-------------+
|1    |125262       |
|3    |283300       |
|2    |65020        |
|5    |436400       |
|4    |291295       |
|6    |122194       |
|8    |54991        |
|7    |76044        |
|12   |126171       |
|9    |115105       |
|10   |26587        |
|11   |102012       |
+-----+-------------+

monthly_cases: org.apache.spark.sql.DataFrame = [month: int, monthly_cases: bigint]

In [25]:
val cumulative_cases = monthly_cases.withColumn("cumulative_cases", sum("monthly_cases").over(Window.orderBy($"month")))

cumulative_cases.show(false)

+-----+-------------+----------------+
|month|monthly_cases|cumulative_cases|
+-----+-------------+----------------+
|1    |125262       |125262          |
|2    |65020        |190282          |
|3    |283300       |473582          |
|4    |291295       |764877          |
|5    |436400       |1201277         |
|6    |122194       |1323471         |
|7    |76044        |1399515         |
|8    |54991        |1454506         |
|9    |115105       |1569611         |
|10   |26587        |1596198         |
|11   |102012       |1698210         |
|12   |126171       |1824381         |
+-----+-------------+----------------+

cumulative_cases: org.apache.spark.sql.DataFrame = [month: int, monthly_cases: bigint ... 1 more field]

In [33]:
val prior_month_cumulative = cumulative_cases.withColumn("prior_month_cases", 
                                                         lag($"cumulative_cases",1).over(Window.orderBy($"month"))
                                                        )
prior_month_cumulative.show(false)

+-----+-------------+----------------+-----------------+
|month|monthly_cases|cumulative_cases|prior_month_cases|
+-----+-------------+----------------+-----------------+
|1    |125262       |125262          |null             |
|2    |65020        |190282          |125262           |
|3    |283300       |473582          |190282           |
|4    |291295       |764877          |473582           |
|5    |436400       |1201277         |764877           |
|6    |122194       |1323471         |1201277          |
|7    |76044        |1399515         |1323471          |
|8    |54991        |1454506         |1399515          |
|9    |115105       |1569611         |1454506          |
|10   |26587        |1596198         |1569611          |
|11   |102012       |1698210         |1596198          |
|12   |126171       |1824381         |1698210          |
+-----+-------------+----------------+-----------------+

prior_month_cumulative: org.apache.spark.sql.DataFrame = [month: int, monthly_cases: bigint ... 2 more fields]

In [58]:
prior_month_cumulative.withColumn(
    "percentage_increase",round( $"cumulative_cases"  * 100.0 / $"prior_month_cases" , 1)-lit(100.0)
).show(false)

+-----+-------------+----------------+-----------------+-------------------+
|month|monthly_cases|cumulative_cases|prior_month_cases|percentage_increase|
+-----+-------------+----------------+-----------------+-------------------+
|1    |125262       |125262          |null             |null               |
|2    |65020        |190282          |125262           |51.900000000000006 |
|3    |283300       |473582          |190282           |148.9              |
|4    |291295       |764877          |473582           |61.5               |
|5    |436400       |1201277         |764877           |57.099999999999994 |
|6    |122194       |1323471         |1201277          |10.200000000000003 |
|7    |76044        |1399515         |1323471          |5.700000000000003  |
|8    |54991        |1454506         |1399515          |3.9000000000000057 |
|9    |115105       |1569611         |1454506          |7.900000000000006  |
|10   |26587        |1596198         |1569611          |1.7000000000000028 |
|11   |102012       |1698210         |1596198          |6.400000000000006  |
|12   |126171       |1824381         |1698210          |7.400000000000006  |
+-----+-------------+----------------+-----------------+-------------------+