In [6]:
// Count null, "" or NaN in all columns for a given dataframe
// Expected output
// +---+---+---+
// |A  |B  |C  |
// +---+---+---+
// |3  |2  |2  |
// +---+---+---+

val df = Seq(
    (Some("a"), Some(1), Some(1)), 
    (null, null, null), 
    (Some(""), Some(2), Some(2)),
    (Some("b"), null, null),
    (null, Some(3), Some(3))
).toDF("A", "B", "C")

df.show(false)

+----+----+----+
|A   |B   |C   |
+----+----+----+
|a   |1   |1   |
|null|null|null|
|    |2   |2   |
|b   |null|null|
|null|3   |3   |
+----+----+----+

df: org.apache.spark.sql.DataFrame = [A: string, B: int ... 1 more field]

In [7]:
val columns = df.columns

columns: Array[String] = Array(A, B, C)

In [23]:

df.select(
    df.columns.map(
        c=>count(
            when(col(c).isNull || col(c) === "" || col(c).isNaN, c)
        ).alias(c)
    ): _*).show(false)

+---+---+---+
|A  |B  |C  |
+---+---+---+
|3  |2  |2  |
+---+---+---+

In [ ]:
// SQL 
// Use case when statements and take the sum, this is useful only for few columns. 
// If there are more columns say > 5 then above approach is more suitable.
// SUM(CASE WHEN A like 'null' THEN 1 ELSE 0 END) as A,