In [37]:
// Input
// col1  | col2 | col3
// ------|------|-------
// 1     | 2    | null
// null  | 3    | null
// 5     | null | null

// Expected output
// col1  | col2 
// ------|------
// 1     | 2    
// null  | 3    
// 5     | null 


val df = spark.createDataFrame(Seq(
    (new Integer(1),new Integer(2),null.asInstanceOf[Integer]),
    (null.asInstanceOf[Integer],new Integer(3),null.asInstanceOf[Integer]),
    (new Integer(5),null.asInstanceOf[Integer],null.asInstanceOf[Integer])
)).toDF("col1", "col2", "col3")


df.show(false)

+----+----+----+
|col1|col2|col3|
+----+----+----+
|1   |2   |null|
|null|3   |null|
|5   |null|null|
+----+----+----+

df: org.apache.spark.sql.DataFrame = [col1: int, col2: int ... 1 more field]

In [38]:
val exprn = df.columns.map((_ -> "count")).toMap

exprn

exprn: scala.collection.immutable.Map[String,String] = Map(col1 -> count, col2 -> count, col3 -> count)
res36: scala.collection.immutable.Map[String,String] = Map(col1 -> count, col2 -> count, col3 -> count)

In [42]:
val cnt = df.agg(exprn).first

cnt

cnt: org.apache.spark.sql.Row = [2,2,0]
res40: org.apache.spark.sql.Row = [2,2,0]

In [47]:
df.columns.filter(col => cnt.getAs[Long]("count(" + col + ")") == 0 // This will return Array[String]=Array(col3)
                 ).foldLeft(df)((tmp_df,col) => tmp_df.drop(col)).show(false)

+----+----+
|col1|col2|
+----+----+
|1   |2   |
|null|3   |
|5   |null|
+----+----+