In [3]:
import org.apache.spark.sql.types._
import org.apache.spark.sql.Row


val schema = StructType(Array(
    StructField("emp_id", IntegerType),
    StructField("emp_name", StringType),
    StructField("emp_gender", StringType),
    StructField("emp_age", IntegerType),
    StructField("emp_salary", IntegerType),
    StructField("emp_manager", StringType)
))

val data = Seq(
    Row(1, "Arjun Patel", "Male", 30, 60000, "Aarav Sharma"),
    Row(2, "Aarav Sharma", "Male", 28, 55000, "Zara Singh"),
    Row(3, "Zara Singh", "Female", 35, 70000, "Arjun Patel"),
    Row(4, "Priya Reddy", "Female", 32, 65000, "Aarav Sharma"),
    Row(1, "Arjun Patel", "Male", 30, 60000, "Aarav Sharma"),
    Row(6, "Naina Verma", "Female", 31, 72000, "Arjun Patel"),
    Row(1, "Arjun Patel", "Male", 30, 60000, "Aarav Sharma"),
    Row(4, "Priya Reddy", "Female", 32, 65000, "Aarav Sharma"),
    Row(5, "Aditya Kapoor", "Male", 28, 58000, "Zara Singh"),
    Row(10,"Anaya Joshi", "Female", 27, 59000, "Aarav Sharma"),
    Row(11,"Rohan Malhotra", "Male", 36, 73000, "Zara Singh"),
    Row(3, "Zara Singh", "Female", 35, 70000, "Arjun Patel")
)

val rdd = spark.sparkContext.parallelize(data)
val df = spark.createDataFrame(rdd, schema)

df.show(false)

+------+--------------+----------+-------+----------+------------+
|emp_id|emp_name      |emp_gender|emp_age|emp_salary|emp_manager |
+------+--------------+----------+-------+----------+------------+
|1     |Arjun Patel   |Male      |30     |60000     |Aarav Sharma|
|2     |Aarav Sharma  |Male      |28     |55000     |Zara Singh  |
|3     |Zara Singh    |Female    |35     |70000     |Arjun Patel |
|4     |Priya Reddy   |Female    |32     |65000     |Aarav Sharma|
|1     |Arjun Patel   |Male      |30     |60000     |Aarav Sharma|
|6     |Naina Verma   |Female    |31     |72000     |Arjun Patel |
|1     |Arjun Patel   |Male      |30     |60000     |Aarav Sharma|
|4     |Priya Reddy   |Female    |32     |65000     |Aarav Sharma|
|5     |Aditya Kapoor |Male      |28     |58000     |Zara Singh  |
|10    |Anaya Joshi   |Female    |27     |59000     |Aarav Sharma|
|11    |Rohan Malhotra|Male      |36     |73000     |Zara Singh  |
|3     |Zara Singh    |Female    |35     |70000     |Arjun Patel |
+------+--------------+----------+-------+----------+------------+

import org.apache.spark.sql.types._
import org.apache.spark.sql.Row
schema: org.apache.spark.sql.types.StructType = StructType(StructField(emp_id,IntegerType,true),StructField(emp_name,StringType,true),StructField(emp_gender,StringType,true),StructField(emp_age,IntegerType,true),StructField(emp_salary,IntegerType,true),StructField(emp_manager,StringType,true))
data: Seq[org.apache.spark.sql.Row] = List([1,Arjun Patel,Male,30,60000,Aarav Sharma], [2,Aarav Sharma,Male,28,55000,Zara Singh], [3,Zara Singh,Female,35,70000,Arjun Patel], [4,Priya Reddy,Female,32,65000,Aarav Sharma], [1,Arjun Patel,Male,30,60000,Aarav Sharma], [6,Naina Verma,Female,31,72000,Arjun Patel], [1,Arjun Patel,Male,30,60000,Aarav Sharma], [4,Priya Reddy,Female,32,65000,Aarav Sharma], [5,Aditya Kapoor,Male,28,58000,Zara...

In [4]:
val df_groupBy = df.columns // what if there are 100s of columns

df_groupBy: Array[String] = Array(emp_id, emp_name, emp_gender, emp_age, emp_salary, emp_manager)

In [11]:
val grouped_df = df.groupBy(df_groupBy.head, df_groupBy.tail:_*).count().where($"count">1).drop($"count")

grouped_df.show(false)

+------+-----------+----------+-------+----------+------------+
|emp_id|emp_name   |emp_gender|emp_age|emp_salary|emp_manager |
+------+-----------+----------+-------+----------+------------+
|1     |Arjun Patel|Male      |30     |60000     |Aarav Sharma|
|3     |Zara Singh |Female    |35     |70000     |Arjun Patel |
|4     |Priya Reddy|Female    |32     |65000     |Aarav Sharma|
+------+-----------+----------+-------+----------+------------+

grouped_df: org.apache.spark.sql.DataFrame = [emp_id: int, emp_name: string ... 4 more fields]

In [13]:
val dropped_df = df.dropDuplicates()

dropped_df.show(false)

+------+--------------+----------+-------+----------+------------+
|emp_id|emp_name      |emp_gender|emp_age|emp_salary|emp_manager |
+------+--------------+----------+-------+----------+------------+
|1     |Arjun Patel   |Male      |30     |60000     |Aarav Sharma|
|3     |Zara Singh    |Female    |35     |70000     |Arjun Patel |
|2     |Aarav Sharma  |Male      |28     |55000     |Zara Singh  |
|6     |Naina Verma   |Female    |31     |72000     |Arjun Patel |
|4     |Priya Reddy   |Female    |32     |65000     |Aarav Sharma|
|5     |Aditya Kapoor |Male      |28     |58000     |Zara Singh  |
|11    |Rohan Malhotra|Male      |36     |73000     |Zara Singh  |
|10    |Anaya Joshi   |Female    |27     |59000     |Aarav Sharma|
+------+--------------+----------+-------+----------+------------+

dropped_df: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [emp_id: int, emp_name: string ... 4 more fields]