In [10]:
// Task - Leet code 1783. Grand slam titles

val players_data = List((1, "Nadal"), (2, "Federer"), (3, "Novak")).toDF("id", "name")

val championships_data = List((2018, 1, 1, 1, 1), (2019, 1, 1, 2, 2), (2020, 2, 1, 2, 2)).toDF("yr","wimbledon",
                                                                                               "fr","us","au")

players_data.show(false)

championships_data.show(false)

+---+-------+
|id |name   |
+---+-------+
|1  |Nadal  |
|2  |Federer|
|3  |Novak  |
+---+-------+

+----+---------+---+---+---+
|yr  |wimbledon|fr |us |au |
+----+---------+---+---+---+
|2018|1        |1  |1  |1  |
|2019|1        |1  |2  |2  |
|2020|2        |1  |2  |2  |
+----+---------+---+---+---+

players_data: org.apache.spark.sql.DataFrame = [id: int, name: string]
championships_data: org.apache.spark.sql.DataFrame = [yr: int, wimbledon: int ... 3 more fields]

In [14]:

val df = championships_data.select($"wimbledon").unionAll(championships_data.select($"fr")
                                                    ).unionAll(championships_data.select($"us")
                                                               ).unionAll(championships_data.select($"au")
                                                                         ).groupBy($"wimbledon").count()

df.show(false)


df.join(players_data, $"wimbledon" === $"id", "inner").select("id","name","count").show(false)

+---------+-----+
|wimbledon|count|
+---------+-----+
|1        |7    |
|2        |5    |
+---------+-----+

+---+-------+-----+
|id |name   |count|
+---+-------+-----+
|1  |Nadal  |7    |
|2  |Federer|5    |
+---+-------+-----+

df: org.apache.spark.sql.DataFrame = [wimbledon: int, count: bigint]

In [19]:
// USING UNPIVOT OPTION

import org.apache.spark.sql.functions._


championships_data.unpivot(Array($"yr"),"Championship","playerId").show(false)

+----+------------+--------+
|yr  |Championship|playerId|
+----+------------+--------+
|2018|wimbledon   |1       |
|2018|fr          |1       |
|2018|us          |1       |
|2018|au          |1       |
|2019|wimbledon   |1       |
|2019|fr          |1       |
|2019|us          |2       |
|2019|au          |2       |
|2020|wimbledon   |2       |
|2020|fr          |1       |
|2020|us          |2       |
|2020|au          |2       |
+----+------------+--------+

import org.apache.spark.sql.functions._