In [9]:
// This problem was asked in one of the leading Product based company for Senior Data Engineer Role.

// üìä Question: A U.S graduate school has students from Asia, Europe and America. 
// The students‚Äô location information are stored in table student as below.

// | name   | continent |
// |--------|-----------|
// | Jack   | America   |
// | Pascal | Europe    |
// | Xi     | Asia      |
// | Jane   | America   |

// üëâ Pivot the continent column in this table so that each name is sorted alphabetically and displayed underneath its corresponding continent.

// üëâ The output headers should be America, Asia and Europe respectively.

// Expected Output:--->

// | America | Asia | Europe |
// |---------|------|--------|
// | Jack    | Xi   | Pascal |
// | Jane    |      |        |

// ‚úÖ ùóòùòÖùóΩùóπùóÆùóªùóÆùòÅùó∂ùóºùóª:
// 1Ô∏è‚É£ Add a row number within each continent.
// 2Ô∏è‚É£ Pivot the continent column and Orders the columns alphabetically.


import org.apache.spark.sql.functions._
import org.apache.spark.sql.expressions._

val df = Seq(
    ("Jack", "America"),
    ("Pascal", "Europe"),
    ("Xi", "Asia"),
    ("Jane", "America"),
    ("Robert", "Australia"),
    ("Shane", "Australia"),
    ("Matthew", "Australia")
).toDF("name", "continent")


val df1 = df.withColumn("row_number", row_number().over(Window.partitionBy($"continent").orderBy($"name")))

// +-------+---------+----------+
// |name   |continent|row_number|
// +-------+---------+----------+
// |Jack   |America  |1         |
// |Jane   |America  |2         |
// |Xi     |Asia     |1         |
// |Matthew|Australia|1         |
// |Robert |Australia|2         |
// |Shane  |Australia|3         |
// |Pascal |Europe   |1         |
// +-------+---------+----------+


val pivotedDF = df1.groupBy($"row_number").pivot($"continent").agg(first($"name")).orderBy($"row_number")
// +----------+-------+----+---------+------+
// |row_number|America|Asia|Australia|Europe|
// +----------+-------+----+---------+------+
// |1         |Jack   |Xi  |Matthew  |Pascal|
// |2         |Jane   |null|Robert   |null  |
// |3         |null   |null|Shane    |null  |
// +----------+-------+----+---------+------+


pivotedDF.drop("row_number").show(false)



// Pivot syntax
// df
//   .groupBy(grouping_columns)
//   .pivot(pivot_column, [values]) 
//   .agg(aggregate_expressions)

+-------+----+---------+------+
|America|Asia|Australia|Europe|
+-------+----+---------+------+
|Jack   |Xi  |Matthew  |Pascal|
|Jane   |null|Robert   |null  |
|null   |null|Shane    |null  |
+-------+----+---------+------+

import org.apache.spark.sql.functions._
import org.apache.spark.sql.expressions._
df: org.apache.spark.sql.DataFrame = [name: string, continent: string]
df1: org.apache.spark.sql.DataFrame = [name: string, continent: string ... 1 more field]
pivotedDF: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [row_number: int, America: string ... 3 more fields]