In [1]:

val emp_data = Seq(
    (1,"manish",50000,"IT","m"),
    (2,"vikash",60000,"sales","m"),
    (3,"raushan",70000,"marketing","m"),
    (4,"mukesh",80000,"IT","m"),
    (5,"priti",90000,"sales","f"),
    (6,"nikita",45000,"marketing","f"),
    (7,"ragini",55000,"marketing","f"),
    (8,"rashi",100000,"IT","f"),
    (9,"aditya",65000,"IT","m"),
    (10,"rahul",50000,"marketing","m"),
    (11,"rakhi",50000,"IT","f"),
    (12,"akhilesh",90000,"sales","m")
).toDF("id","name","salary","dept","gender")


emp_data.show(false)

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.0.101:4040
SparkContext available as 'sc' (version = 3.4.1, master = local[*], app id = local-1707542364530)
SparkSession available as 'spark'

+---+--------+------+---------+------+
|id |name    |salary|dept     |gender|
+---+--------+------+---------+------+
|1  |manish  |50000 |IT       |m     |
|2  |vikash  |60000 |sales    |m     |
|3  |raushan |70000 |marketing|m     |
|4  |mukesh  |80000 |IT       |m     |
|5  |priti   |90000 |sales    |f     |
|6  |nikita  |45000 |marketing|f     |
|7  |ragini  |55000 |marketing|f     |
|8  |rashi   |100000|IT       |f     |
|9  |aditya  |65000 |IT       |m     |
|10 |rahul   |50000 |marketing|m     |
|11 |rakhi   |50000 |IT       |f     |
|12 |akhilesh|90000 |sales    |m     |
+---+--------+------+---------+------+

emp_data: org.apache.spark.sql.DataFrame = [id: int, name: string ... 3 more fields]

In [9]:
import org.apache.spark.sql.expressions._

emp_data.withColumn("row_number", row_number().over(Window.partitionBy($"dept").orderBy($"salary".desc_nulls_last))
       ).withColumn("rank", rank().over(Window.partitionBy($"dept").orderBy($"salary".desc_nulls_last)) 
       ).withColumn("dense_rank", dense_rank().over(Window.partitionBy($"dept").orderBy($"salary".desc_nulls_last))
       ).show(false)

+---+--------+------+---------+------+----------+----+----------+
|id |name    |salary|dept     |gender|row_number|rank|dense_rank|
+---+--------+------+---------+------+----------+----+----------+
|8  |rashi   |100000|IT       |f     |1         |1   |1         |
|4  |mukesh  |80000 |IT       |m     |2         |2   |2         |
|9  |aditya  |65000 |IT       |m     |3         |3   |3         |
|1  |manish  |50000 |IT       |m     |4         |4   |4         |
|11 |rakhi   |50000 |IT       |f     |5         |4   |4         |
|3  |raushan |70000 |marketing|m     |1         |1   |1         |
|7  |ragini  |55000 |marketing|f     |2         |2   |2         |
|10 |rahul   |50000 |marketing|m     |3         |3   |3         |
|6  |nikita  |45000 |marketing|f     |4         |4   |4         |
|5  |priti   |90000 |sales    |f     |1         |1   |1         |
|12 |akhilesh|90000 |sales    |m     |2         |1   |1         |
|2  |vikash  |60000 |sales    |m     |3         |3   |2         |
+---+--------+------+---------+------+----------+----+----------+

import org.apache.spark.sql.expressions._