In [24]:
// https://sparkbyexamples.com/spark/different-ways-to-create-a-spark-dataframe/

val data = Seq("Project Gutenberg’s",
        "Alice’s Adventures in Wonderland",
        "Project Gutenberg’s",
        "Adventures in Wonderland",
        "Project Gutenberg’s")

val rdd1 = spark.sparkContext.parallelize(data)

rdd1.collect.foreach(println)

Project Gutenberg’s
Alice’s Adventures in Wonderland
Project Gutenberg’s
Adventures in Wonderland
Project Gutenberg’s

data: Seq[String] = List(Project Gutenberg’s, Alice’s Adventures in Wonderland, Project Gutenberg’s, Adventures in Wonderland, Project Gutenberg’s)
rdd1: org.apache.spark.rdd.RDD[String] = ParallelCollectionRDD[58] at parallelize at <console>:44

In [29]:
val rdd2 = rdd1.flatMap(w=>w.split(" "))
rdd2.collect.foreach(println)

Project
Gutenberg’s
Alice’s
Adventures
in
Wonderland
Project
Gutenberg’s
Adventures
in
Wonderland
Project
Gutenberg’s

rdd2: org.apache.spark.rdd.RDD[String] = MapPartitionsRDD[65] at flatMap at <console>:36

In [27]:
val rdd3 = rdd2.map(word => (word, 1)).reduceByKey(_ + _)
rdd3.collect.foreach(println)

(Gutenberg’s,3)
(in,2)
(Project,3)
(Wonderland,2)
(Alice’s,1)
(Adventures,2)

rdd3: org.apache.spark.rdd.RDD[(String, Int)] = ShuffledRDD[63] at reduceByKey at <console>:36