In [0]:
"""
Write a query to find workaholics employees.  
Workaholics employees are those who satisfy at least one of the given criterions:

1- Worked for more than 8 hours a day for at least 3 days in a week. 
2- worked for more than 10 hours a day for at least 2 days in a week. 

You are given the login and logout timings of all the employees for a given week. 
Write a SQL to find all the workaholic employees along with the criterion that they are satisfying 
(1,2 or both), display it in the order of increasing employee id


Table: employees
+-------------+-----------+
| COLUMN_NAME | DATA_TYPE |
+-------------+-----------+
| emp_id      | int       |
| login       | datetime  |
| logout      | datetime  |
+-------------+-----------+

+--------+---------------------+---------------------+
| emp_id | login               | logout              |
+--------+---------------------+---------------------+
|    100 | 2024-02-19 09:15:00 | 2024-02-19 18:20:00 |
|    100 | 2024-02-20 09:05:00 | 2024-02-20 17:00:00 |
|    100 | 2024-02-21 09:00:00 | 2024-02-21 17:10:00 |
|    100 | 2024-02-22 10:00:00 | 2024-02-22 16:55:00 |
|    100 | 2024-02-23 10:30:00 | 2024-02-23 19:15:00 |
|    200 | 2024-02-19 08:00:00 | 2024-02-19 18:20:00 |
|    200 | 2024-02-20 09:00:00 | 2024-02-20 16:30:00 |
|    200 | 2024-02-21 09:15:00 | 2024-02-21 19:20:00 |
|    200 | 2024-02-22 11:00:00 | 2024-02-22 17:05:00 |
|    200 | 2024-02-23 09:30:00 | 2024-02-23 17:20:00 |
|    300 | 2024-02-19 07:00:00 | 2024-02-19 18:15:00 |
|    300 | 2024-02-20 09:00:00 | 2024-02-20 19:10:00 |
|    300 | 2024-02-21 09:15:00 | 2024-02-21 18:20:00 |
|    300 | 2024-02-22 11:00:00 | 2024-02-22 17:00:00 |
|    300 | 2024-02-23 09:30:00 | 2024-02-23 16:30:00 |
|    400 | 2024-02-19 09:00:00 | 2024-02-19 18:30:00 |
|    400 | 2024-02-20 09:00:00 | 2024-02-20 18:10:00 |
|    400 | 2024-02-21 09:00:00 | 2024-02-21 18:20:00 |
|    400 | 2024-02-22 09:30:00 | 2024-02-22 16:00:00 |
|    400 | 2024-02-23 10:00:00 | 2024-02-23 16:00:00 |
+--------+---------------------+---------------------+


Output
+--------+-----------+
| emp_id | criterian |
+--------+-----------+
|    100 | 1         |
|    200 | 2         |
|    300 | both      |
|    400 | 1         |
+--------+-----------+
"""

from pyspark.sql.functions import *

employees_df = spark.createDataFrame([
    (100,'2024-02-19 09:15:00','2024-02-19 18:20:00'),
    (100,'2024-02-20 09:05:00','2024-02-20 17:00:00'),
    (100,'2024-02-21 09:00:00','2024-02-21 17:10:00'),
    (100,'2024-02-22 10:00:00','2024-02-22 16:55:00'),
    (100,'2024-02-23 10:30:00','2024-02-23 19:15:00'),
    (200,'2024-02-19 08:00:00','2024-02-19 18:20:00'),
    (200,'2024-02-20 09:00:00','2024-02-20 16:30:00'),
    (200,'2024-02-21 09:15:00','2024-02-21 19:20:00'),
    (200,'2024-02-22 11:00:00','2024-02-22 17:05:00'),
    (200,'2024-02-23 09:30:00','2024-02-23 17:20:00'),
    (300,'2024-02-19 07:00:00','2024-02-19 18:15:00'),
    (300,'2024-02-20 09:00:00','2024-02-20 19:10:00'),
    (300,'2024-02-21 09:15:00','2024-02-21 18:20:00'),
    (300,'2024-02-22 11:00:00','2024-02-22 17:00:00'),
    (300,'2024-02-23 09:30:00','2024-02-23 16:30:00'),
    (400,'2024-02-19 09:00:00','2024-02-19 18:30:00'),
    (400,'2024-02-20 09:00:00','2024-02-20 18:10:00'),
    (400,'2024-02-21 09:00:00','2024-02-21 18:20:00'),
    (400,'2024-02-22 09:30:00','2024-02-22 16:00:00'),
    (400,'2024-02-23 10:00:00','2024-02-23 16:00:00')
], ["emp_id", "login", "logout"])

employees_df = employees_df \
    .withColumn("login", col("login").cast("timestamp")) \
    .withColumn("logout", col("logout").cast("timestamp"))

employees_df.show()

+------+-------------------+-------------------+
|emp_id|              login|             logout|
+------+-------------------+-------------------+
|   100|2024-02-19 09:15:00|2024-02-19 18:20:00|
|   100|2024-02-20 09:05:00|2024-02-20 17:00:00|
|   100|2024-02-21 09:00:00|2024-02-21 17:10:00|
|   100|2024-02-22 10:00:00|2024-02-22 16:55:00|
|   100|2024-02-23 10:30:00|2024-02-23 19:15:00|
|   200|2024-02-19 08:00:00|2024-02-19 18:20:00|
|   200|2024-02-20 09:00:00|2024-02-20 16:30:00|
|   200|2024-02-21 09:15:00|2024-02-21 19:20:00|
|   200|2024-02-22 11:00:00|2024-02-22 17:05:00|
|   200|2024-02-23 09:30:00|2024-02-23 17:20:00|
|   300|2024-02-19 07:00:00|2024-02-19 18:15:00|
|   300|2024-02-20 09:00:00|2024-02-20 19:10:00|
|   300|2024-02-21 09:15:00|2024-02-21 18:20:00|
|   300|2024-02-22 11:00:00|2024-02-22 17:00:00|
|   300|2024-02-23 09:30:00|2024-02-23 16:30:00|
|   400|2024-02-19 09:00:00|2024-02-19 18:30:00|
|   400|2024-02-20 09:00:00|2024-02-20 18:10:00|
|   400|2024-02-21 09:00:00|2024-02-21 18:20:00|
|   400|2024-02-22 09:30:00|2024-02-22 16:00:00|
|   400|2024-02-23 10:00:00|2024-02-23 16:00:00|
+------+-------------------+-------------------+

In [0]:
employees_df.createOrReplaceTempView("employees")

spark.sql("""
          with emp_hours as (
            select
                *, timestampdiff(minute, login, logout) * 1.0 / 60 as work_hours
            from employees
          ), emp_actual_hours as (
          select   
            *, 
            case when work_hours >= 10 then '10+'
                 when work_hours >= 8 then '8+'
            else '8-' end as hours_bracekt
          from emp_hours
          ), emp_workoholic as (
          select
            emp_id,
            count(*) as 8_plus_hours,
            sum(case when hours_bracekt = '10+' then 1 else 0 end) 10_plus_hours
          from emp_actual_hours
          where hours_bracekt != '8-'
          group by emp_id
          )
          select
            emp_id,
            case when 8_plus_hours >= 3 and 10_plus_hours >= 2 then 'both'
                 when 8_plus_hours >= 3 then '1'
            else '2' end as criteria
          from emp_workoholic
          """).show()

+------+--------+
|emp_id|criteria|
+------+--------+
|   100|       1|
|   200|       2|
|   300|    both|
|   400|       1|
+------+--------+

In [0]:
from pyspark.sql.functions import *

employees_df \
    .withColumn("work_hours", timestamp_diff(lit("minute"), col("login"), col("logout")) * 1.0 / 60 ) \
    .withColumn("hours_bracekt", when(col("work_hours") >= lit(10), lit('10+')).when(col("work_hours") >= lit(8), lit('8+')).otherwise(lit('8-'))) \
    .filter(col("hours_bracekt") != lit('8-')) \
    .groupBy(col("emp_id")).agg(
        count("*").alias("8_plus_hours"), 
        sum(when(col("hours_bracekt")=='10+', lit(1)).otherwise(lit(0)).alias("10_plus_hours")).alias("10_plus_hours") 
        ) \
    .withColumn("criteria", when( (col("8_plus_hours") >= lit(3)) & (col("10_plus_hours") >= lit(2)), lit('both')).when(col("8_plus_hours") >= lit(3), lit('1')).otherwise(lit('2')))  \
    .select("emp_id", "criteria") \
    .show()

+------+--------+
|emp_id|criteria|
+------+--------+
|   100|       1|
|   200|       2|
|   300|    both|
|   400|       1|
+------+--------+