In [0]:
"""
Namastekart, an e-commerce company, has observed a notable surge in return orders recently. 
They suspect that a specific group of customers may be responsible for a significant portion of these returns. 
To address this issue, their initial goal is to identify customers who have returned more than 50% of their orders. 
This way, they can proactively reach out to these customers to gather feedback.

Write an SQL to find list of customers along with their return percent (Round to 2 decimal places), 
display the output in ascending order of customer name.

Table: orders (primary key : order_id)
+---------------+-------------+
| COLUMN_NAME   | DATA_TYPE   |
+---------------+-------------+
| customer_name | varchar(10) |
| order_date    | date        |
| order_id      | int         |
| sales         | int         |
+---------------+-------------+

Table: returns (primary key : order_id)
+-------------+-----------+
| COLUMN_NAME | DATA_TYPE |
+-------------+-----------+
| order_id    | int       |
| return_date | date      |
+-------------+-----------+

+----------+------------+---------------+-------+
| order_id | order_date | customer_name | sales |
+----------+------------+---------------+-------+
|        1 | 2023-01-01 | Alexa         |   100 |
|        2 | 2023-01-02 | Alexa         |   200 |
|        3 | 2023-01-03 | Alexa         |   300 |
|        4 | 2023-01-03 | Alexa         |   400 |
|        5 | 2023-01-01 | Ramesh        |   500 |
|        6 | 2023-01-02 | Ramesh        |   600 |
|        7 | 2023-01-03 | Ramesh        |   700 |
|        8 | 2023-01-03 | Neha          |   800 |
|        9 | 2023-01-03 | Ankit         |   800 |
|       10 | 2023-01-04 | Ankit         |   900 |
|       11 | 2023-01-05 | Amit          |   250 |
|       12 | 2023-01-06 | Amit          |   300 |
|       13 | 2023-01-07 | Amit          |   350 |
|       14 | 2023-01-05 | John          |   150 |
|       15 | 2023-01-06 | John          |   200 |
|       16 | 2023-01-07 | John          |   250 |
|       17 | 2023-01-08 | Sneha         |   400 |
|       18 | 2023-01-09 | Sneha         |   450 |
|       19 | 2023-01-10 | Sneha         |   500 |
|       20 | 2023-01-11 | Ravi          |   600 |
|       21 | 2023-01-12 | Ravi          |   650 |
|       22 | 2023-01-13 | Ravi          |   700 |
|       23 | 2023-01-14 | Priya         |   300 |
|       24 | 2023-01-15 | Priya         |   350 |
|       25 | 2023-01-16 | Priya         |   400 |
+----------+------------+---------------+-------+
+----------+-------------+
| order_id | return_date |
+----------+-------------+
|        1 | 2023-01-02  |
|        2 | 2023-01-04  |
|        3 | 2023-01-05  |
|        7 | 2023-01-06  |
|        9 | 2023-01-06  |
|       10 | 2023-01-07  |
|       23 | 2023-01-16  |
|       24 | 2023-01-17  |
+----------+-------------+


Output
+---------------+----------------+
| customer_name | return_percent |
+---------------+----------------+
| Alexa         |          75.00 |
| Ankit         |         100.00 |
| Priya         |          66.67 |
+---------------+----------------+
"""

orders_df = spark.createDataFrame(
    [
        (1,'2023-01-01','Alexa',100),
        (2,'2023-01-02','Alexa',200),
        (3,'2023-01-03','Alexa',300),
        (4,'2023-01-03','Alexa',400),
        (5,'2023-01-01','Ramesh',500),
        (6,'2023-01-02','Ramesh',600),
        (7,'2023-01-03','Ramesh',700),
        (8,'2023-01-03','Neha',800),
        (9,'2023-01-03','Ankit',800),
        (10,'2023-01-04','Ankit',900),
        (11,'2023-01-05','Amit',250),
        (12,'2023-01-06','Amit',300),
        (13,'2023-01-07','Amit',350),
        (14,'2023-01-05','John',150),
        (15,'2023-01-06','John',200),
        (16,'2023-01-07','John',250),
        (17,'2023-01-08','Sneha',400),
        (18,'2023-01-09','Sneha',450),
        (19,'2023-01-10','Sneha',500),
        (20,'2023-01-11','Ravi',600),
        (21,'2023-01-12','Ravi',650),
        (22,'2023-01-13','Ravi',700),
        (23,'2023-01-14','Priya',300),
        (24,'2023-01-15','Priya',350),
        (25,'2023-01-16','Priya',400)
    ], ["order_id", "order_date", "customer_name", "sales"]
)

returns_df = spark.createDataFrame(
    [
        (1,'2023-01-02'),
        (2,'2023-01-04'),
        (3,'2023-01-05'),
        (7,'2023-01-06'),
        (9,'2023-01-06'),
        (10,'2023-01-07'),
        (23,'2023-01-16'),
        (24,'2023-01-17')
    ], ["order_id", "return_date"]
)

orders_df.show()
returns_df.show()

+--------+----------+-------------+-----+
|order_id|order_date|customer_name|sales|
+--------+----------+-------------+-----+
|       1|2023-01-01|        Alexa|  100|
|       2|2023-01-02|        Alexa|  200|
|       3|2023-01-03|        Alexa|  300|
|       4|2023-01-03|        Alexa|  400|
|       5|2023-01-01|       Ramesh|  500|
|       6|2023-01-02|       Ramesh|  600|
|       7|2023-01-03|       Ramesh|  700|
|       8|2023-01-03|         Neha|  800|
|       9|2023-01-03|        Ankit|  800|
|      10|2023-01-04|        Ankit|  900|
|      11|2023-01-05|         Amit|  250|
|      12|2023-01-06|         Amit|  300|
|      13|2023-01-07|         Amit|  350|
|      14|2023-01-05|         John|  150|
|      15|2023-01-06|         John|  200|
|      16|2023-01-07|         John|  250|
|      17|2023-01-08|        Sneha|  400|
|      18|2023-01-09|        Sneha|  450|
|      19|2023-01-10|        Sneha|  500|
|      20|2023-01-11|         Ravi|  600|
+--------+----------+-------------+-----+
only showing top 20 rows
+--------+-----------+
|order_id|return_date|
+--------+-----------+
|       1| 2023-01-02|
|       2| 2023-01-04|
|       3| 2023-01-05|
|       7| 2023-01-06|
|       9| 2023-01-06|
|      10| 2023-01-07|
|      23| 2023-01-16|
|      24| 2023-01-17|
+--------+-----------+

In [0]:
from pyspark.sql.functions import *


orders_df.join(returns_df, orders_df.order_id==returns_df.order_id, "left") \
    .groupBy("customer_name") \
    .agg(
        round( 100.0 * count(returns_df.order_id) / count(orders_df.order_id) ,2).alias("return_percentage")
    ) \
    .filter(col("return_percentage") > lit(50.0)) \
    .show()

+-------------+-----------------+
|customer_name|return_percentage|
+-------------+-----------------+
|        Alexa|             75.0|
|        Ankit|            100.0|
|        Priya|            66.67|
+-------------+-----------------+