In [0]:
"""
You are given a products table where a new row is inserted every time the price of a product changes. Additionally, there is a transaction table containing details such as order_date and product_id for each order.

Write an SQL query to calculate the total sales value for each product, considering the cost of the product at the time of the order date, display the output in ascending order of the product_id.

Table: products
+-------------+-----------+
| COLUMN_NAME | DATA_TYPE |
+-------------+-----------+
| product_id  | int       |
| price       | int       |
| price_date  | date      |
+-------------+-----------+
Table: orders 
+-------------+-----------+
| COLUMN_NAME | DATA_TYPE |
+-------------+-----------+
| order_id    | int       |
| order_date  | date      |
| product_id  | int       |
+-------------+-----------+

+------------+------------+-------+
| product_id | price_date | price |
+------------+------------+-------+
|        100 | 2024-01-01 |   150 |
|        100 | 2024-01-21 |   170 |
|        100 | 2024-02-01 |   190 |
|        101 | 2024-01-01 |  1000 |
|        101 | 2024-01-27 |  1200 |
|        101 | 2024-02-05 |  1250 |
|        102 | 2024-01-01 |    50 |
|        102 | 2024-01-15 |    60 |
|        102 | 2024-02-01 |    80 |
|        103 | 2024-01-01 |   200 |
|        103 | 2024-01-18 |   230 |
|        104 | 2024-01-03 |   500 |
|        104 | 2024-02-01 |   550 |
|        105 | 2024-01-10 |   300 |
|        106 | 2024-01-05 |   120 |
|        106 | 2024-01-25 |   140 |
|        107 | 2024-02-01 |   900 |
|        108 | 2024-01-04 |   160 |
|        108 | 2024-02-06 |   190 |
|        109 | 2024-01-02 |    40 |
+------------+------------+-------+
+----------+------------+------------+
| order_id | order_date | product_id |
+----------+------------+------------+
|        1 | 2024-01-05 |        100 |
|        2 | 2024-01-21 |        100 |
|        3 | 2024-02-20 |        100 |
|        4 | 2024-01-07 |        101 |
|        5 | 2024-02-04 |        101 |
|        6 | 2024-02-05 |        101 |
|        7 | 2024-02-10 |        101 |
|        8 | 2024-01-02 |        102 |
|        9 | 2024-01-16 |        102 |
|       10 | 2024-02-10 |        102 |
|       11 | 2024-01-10 |        103 |
|       12 | 2024-01-25 |        103 |
|       13 | 2024-01-20 |        104 |
|       14 | 2024-02-03 |        105 |
|       15 | 2024-01-06 |        106 |
|       16 | 2024-01-28 |        106 |
|       17 | 2024-02-05 |        107 |
|       18 | 2024-02-08 |        108 |
|       19 | 2024-01-03 |        109 |
|       20 | 2024-01-15 |        109 |
+----------+------------+------------+


Output
+------------+-------------+
| product_id | total_sales |
+------------+-------------+
|        100 |         510 |
|        101 |        4700 |
|        102 |         190 |
|        103 |         430 |
|        104 |         500 |
|        105 |         300 |
|        106 |         260 |
|        107 |         900 |
|        108 |         190 |
|        109 |          80 |
+------------+-------------+
"""

products_df = spark.createDataFrame(
    [
        (100,'2024-01-01',150),
        (100,'2024-01-21',170),
        (100,'2024-02-01',190),
        (101,'2024-01-01',1000),
        (101,'2024-01-27',1200),
        (101,'2024-02-05',1250),
        (102,'2024-01-01',50),
        (102,'2024-01-15',60),
        (102,'2024-02-01',80),
        (103,'2024-01-01',200),
        (103,'2024-01-18',230),
        (104,'2024-01-03',500),
        (104,'2024-02-01',550),
        (105,'2024-01-10',300),
        (106,'2024-01-05',120),
        (106,'2024-01-25',140),
        (107,'2024-02-01',900),
        (108,'2024-01-04',160),
        (108,'2024-02-06',190),
        (109,'2024-01-02',40)
    ], ["product_id", "price_date", "price"]
)

orders_df = spark.createDataFrame(
    [
        (1,'2024-01-05',100),
        (2,'2024-01-21',100),
        (3,'2024-02-20',100),
        (4,'2024-01-07',101),
        (5,'2024-02-04',101),
        (6,'2024-02-05',101),
        (7,'2024-02-10',101),
        (8,'2024-01-02',102),
        (9,'2024-01-16',102),
        (10,'2024-02-10',102),
        (11,'2024-01-10',103),
        (12,'2024-01-25',103),
        (13,'2024-01-20',104),
        (14,'2024-02-03',105),
        (15,'2024-01-06',106),
        (16,'2024-01-28',106),
        (17,'2024-02-05',107),
        (18,'2024-02-08',108),
        (19,'2024-01-03',109),
        (20,'2024-01-15',109)
    ], ["order_id", "order_date", "product_id"]
)

products_df.show()
orders_df.show()

+----------+----------+-----+
|product_id|price_date|price|
+----------+----------+-----+
|       100|2024-01-01|  150|
|       100|2024-01-21|  170|
|       100|2024-02-01|  190|
|       101|2024-01-01| 1000|
|       101|2024-01-27| 1200|
|       101|2024-02-05| 1250|
|       102|2024-01-01|   50|
|       102|2024-01-15|   60|
|       102|2024-02-01|   80|
|       103|2024-01-01|  200|
|       103|2024-01-18|  230|
|       104|2024-01-03|  500|
|       104|2024-02-01|  550|
|       105|2024-01-10|  300|
|       106|2024-01-05|  120|
|       106|2024-01-25|  140|
|       107|2024-02-01|  900|
|       108|2024-01-04|  160|
|       108|2024-02-06|  190|
|       109|2024-01-02|   40|
+----------+----------+-----+

+--------+----------+----------+
|order_id|order_date|product_id|
+--------+----------+----------+
|       1|2024-01-05|       100|
|       2|2024-01-21|       100|
|       3|2024-02-20|       100|
|       4|2024-01-07|       101|
|       5|2024-02-04|       101|
|       6|2024-02-05|       101|
|       7|2024-02-10|       101|
|       8|2024-01-02|       102|
|       9|2024-01-16|       102|
|      10|2024-02-10|       102|
|      11|2024-01-10|       103|
|      12|2024-01-25|       103|
|      13|2024-01-20|       104|
|      14|2024-02-03|       105|
|      15|2024-01-06|       106|
|      16|2024-01-28|       106|
|      17|2024-02-05|       107|
|      18|2024-02-08|       108|
|      19|2024-01-03|       109|
|      20|2024-01-15|       109|
+--------+----------+----------+

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.window import *


orders_df.join(products_df, ((orders_df.product_id == products_df.product_id) & (orders_df.order_date >= products_df.price_date)), "left") \
    .withColumn("rn", row_number().over(Window.partitionBy(col("order_id")).orderBy(col("price_date").desc()))) \
    .filter(col("rn")==lit(1)) \
    .groupBy(orders_df.product_id).agg(sum(col("price")).alias("total_sales")) \
    .orderBy(orders_df.product_id) \
    .show()

+----------+-----------+
|product_id|total_sales|
+----------+-----------+
|       100|        510|
|       101|       4700|
|       102|        190|
|       103|        430|
|       104|        500|
|       105|        300|
|       106|        260|
|       107|        900|
|       108|        190|
|       109|         80|
+----------+-----------+

In [0]:
orders_df.createOrReplaceTempView("orders")
products_df.createOrReplaceTempView("products")

spark.sql("""
            with  cte as (
            select 
                o.*, 
                p.price, 
                p.price_date, 
                row_number() over (partition by order_id order by price_date desc) as rn 
            from orders o left join products p
            on o.product_id = p.product_id and o.order_date >= p.price_date
            )
            select 
                product_id, 
                sum(price) as total_sales 
            from cte 
            where rn = 1 
            group by product_id
            order by product_id     
          """).show()

+----------+-----------+
|product_id|total_sales|
+----------+-----------+
|       100|        510|
|       101|       4700|
|       102|        190|
|       103|        430|
|       104|        500|
|       105|        300|
|       106|        260|
|       107|        900|
|       108|        190|
|       109|         80|
+----------+-----------+